body {
  overflow: hidden;
  margin: 0;
}

#info {
  position: absolute;
  width: 100%;
  /* padding: 30px; */
  margin: 15px;
  text-align: center;

  /* display: inline-block; */

  display: flex;
  justify-content: center;

  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media only screen and (max-width: 900px) {
  #info {
    bottom: 0;
  }
}

.inner {
  border: 3px solid white;
  border-radius: 35px;
  padding: 0px 25px 0px 25px;
  box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.line1 {
  float: left;
  line-height: 1;
  color: rgb(17, 255, 0);
  margin-top: 7px;
  font-size: large;
  font-weight: bold;
}

.line2 {
  float: right;
  margin-left: 15px;
  line-height: 1.7;
  font-size: 20px;
}

a {
  color: rgb(203, 228, 253);
  text-decoration: none;
  /* border-bottom: 3px solid currentColor; */
}

a:hover {
  color: rgb(74, 166, 253);
}
